/* Variables */

$main-colour: #5C308C;
$impact-colour: #e577a3;
$homepage-block-colour: #5C308C;
$table-row-grey: #E6E7E8;

$font-family-arial: arial, serif;

// $main-colour: #67cfe2;
// $impact-colour: #E88225;
/* Impact colour to be used when background is blue */
$impact-contrast-colour: #c52766;
$action-button-colour: #f39230;

$orange: #f08823;
$bright-blue: #5392f2;
$medium-blue: #285ba7;
$deep-blue: #10356d;
$light-grey: #e7e7e7;


$first-break: 800px;