/*
 Author Stephen Cotton stephen.cotton@stoneacre.co.uk
 Created on 
*/
/* 
    Created on : 11-May-2016, 16:17:14
    Author     : Stephen Cotton <stephen.cotton@stoneacre.co.uk>
*/

$home-header-font-family: 'Irish Grover', cursive;
$home-header-colour: #555;