/*
 Author Stephen Cotton stephen.cotton@stoneacre.co.uk
 Created on 
*/
/* 
    Created on : 11-May-2016, 16:17:14
    Author     : Stephen Cotton <stephen.cotton@stoneacre.co.uk>
*/

$home-header-font-family: 'Irish Grover', cursive;
$home-header-colour: #555;

$color1 : #96CDF0;
$color2 : #32A0E6;
$color-grey: lightgray;
$dark-blue: #5685A3;
$red:#e2343f;