/*
 Author Stephen Cotton stephen.cotton@stoneacre.co.uk
 Created on 11/05/16
*/
/* 
    Created on : 11-May-2016, 11:58:23
    Author     : Stephen Cotton <stephen.cotton@stoneacre.co.uk>
*/

.page_header{
    font-family: $home-header-font-family;
    font-size: 2em;
    color: white;
    text-shadow: 3px 0px 1px rgba(150, 150, 150, 2);
    height: 30px;
    background: black;
    padding: 10px;
}

body{
    background: white;
    
    color: black;
}